
body {
 background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

/* header css */
h1 {
text-transform: uppercase;  
font-size: 50px;
color: white;
display:block;
text-align: center;
margin: auto;
margin-bottom:0px;
font-family: 'Nunito', sans-serif;
text-shadow: 2px 4px 5px black;
}

h2 {
text-transform:; 
margin-bottom: 0px;
}

h3 {
color: red;
margin-top: 0px;
margin-bottom: 0px;
font-size: 30px;
text-transform:;
text-decorations:;
font-family: 'Oswald', sans-serif;
}

/* header css end */


/* text element css */
p {
margin-top: 0px;
width: auto;
text-align: center;
color: white;
line-height: 25px;
}

article {
text-align: center;
font-family: 'Oswald', sans-serif;
font-size: 20px;
color: white;
}

footer {
width: 100%;
}

.margin-none{
margin: 0px;
}

li {
display: inline-block;
/* border: 1px solid black; */
height: 100%;
font-size: 25px;
margin-right: 35px;
color: white;
list-style-type: circle;
}

/* text element css end */

a {
margin:0px;
padding:0px;
text-decoration: none;
color: white;
}

a:hover {
color: black;  
}

/* Css code for welcome introduction */
.welcome-container{
text-align: center;
margin: auto;
position: relative;
left: 10px;
}



.welcome-img {
margin-top: 10px; 
border-radius: 1000px ;
margin-bottom:0px;
height:200px;
width:200px;
transition: transform .5s;
position: relative;
right: 5px;
}
.welcome-img:hover {
transform: rotate(360deg) scale(1.1);  
}

.location {
color: white;
font-size: 25px;
margin-top: 0px;
position: relative;
right: 5px;
}
.connection-list {
 text-align:center; 
 font-family: 'Oswald', sans-serif;
 /* border: solid black; */
}

.connection-list li {
text-align:center; 
color: white;
text-transform: capitalize;
 transition: transform .2s;
position: relative;
left: 5px;
}

.connection-list li:hover {
background-color: white;
color:black;
border-radius: 5px;
transform: translateY(-8px);
/* transform: skewY(-10deg); */
}




/* Css code for welcome introduction end */
.passion-header{
font-size: 25px;  
text-align: center;
color: white;
}

.passion p{
max-width: 60%;  
}


/* 
.passion li{
font-size: 20px;
list-style-type:initial;
display: block;
text-align: left;
font-family: 'Oswald', sans-serif;
font-weight:bolder;
} */

/* css code for my certifcation certification-box */
.certification-box {
height: 200px;
width: 95%;
max-width:auto;
background-color: white;
border-radius: 20px;
border: 3px solid #be3144;
position: relative;

margin: auto;
overflow-x:scroll;
display: flex;
flex-direction: row;

}

.certification-box img {
 border: none; 
 box-shadow: none;
 height: 80%;
 min-width:200px;
 transition: transform .2s; 
 width: 200px;
 margin: 0 auto;
 margin-bottom:;
 position: relative;
 top: 10px;
 z-index: 0;
}

.certification-box img:hover {
  transform: scale(2.0);
  z-index: 0;

}
/* end of css code for certification-box */

.action-container{
text-align: center;
margin:auto;
position: relative;
right: -5px;
}
.action {
height: 50px;
width: auto;
padding: 10px;
text-align: center;
border: 2px solid black;
  border-radius: 8px;
display: inline-block;
  background-color:#be2000;
    color: white;
    box-shadow: 5px 1px 10px black;
margin-top:20px;
}

.action-header {
color: white;
font-size: 30px;
}

/* css code for footer */
footer {
border-top: 2px red solid;
height: 100px;
width: 100%;
bottom: 0px;
background-color: #303841;
color: white;
position: relative;
text-transform: capitalize;
text-align: right;
}

.footer-links {
 text-align:center; 
 font-family: 'Oswald', sans-serif;
 /* border: solid black; */
}

.footer-links li {
text-align:center; 
color: white;
text-transform: capitalize;
 transition: transform .2s;
position: relative;
left: 5px;
float: left;
}

.footer-links li:hover {
background-color: white;
color:#303841;
border-radius: 5px;
transform: translateY(-8px);
/* transform: skewY(-10deg); */
}

/* css code for footer end */
